[KEYWORDS]
keywords = your main keywords here, separated by "," (comma symbol)
payloads = your payloads here, separated by "," (comma symbol)

[Github]
user = Github Username
password = Github Password
